<a href="https://colab.research.google.com/github/Eswari-21/OOPS/blob/main/OOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# OOPS (object oriented programming)

### Class -> Instances example : car
##### self attr to access the function
##### object is animal and class is dog
##### class method is used to access the instances is called self

In [ ]:
class dog:
  def bark(self):
    print("German Shepard")
    print("bow bow")
animal= dog()
animal.bark()

German Shepard
bow bow

In [ ]:
class girl:
  def set_name(self,name):
    self.name=name
  def get_name(self):
    return self.name
s = girl ()
s.set_name("Eshu")
print(s.get_name() )

Eshu

##### Arithmetic operation using a class object instance

In [ ]:
class calc:
  def add(self,a,b):
    return a + b
  def mul(self, a, b):
    return a*b
c=calc()
print(c.add(5,6))
print(c.mul(3,10))

11
30

In [ ]:
class calc:
  def set_values(self,a,b):
    self.a=a
    self.b=b
  def add(self):
    return self.a+self.b
  def mul(self):
    return self.a*self.b
  def sub(self):
    return self.a-self.b
  def div(self):
    return self.a/self.b
c=calc()
c.set_values(5,6)
print(c.add())
print(c.mul())
print(c.sub())
print(c.div())

11
30
-1
0.8333333333333334

##### code for calculating the area of a square by creating a class square and defining the area and perimeter functions and return the both values to the object  and  side = 4

In [ ]:
class square:
  def set_values(self, side):
    self.side=side
  def area(self):
    return self.side**2
  def perimeter(self):
    return 4*self.side
s=square()
s.set_values(4)
print("Area:",s.area())
print("perimeter:",s.perimeter())

Area: 16
perimeter: 16

##### Find the Hypotenuse of pythagorean Therom

In [ ]:
import math
class pythagorean:
  def set_values(self,a, b):
    self.a=a
    self.b=b
  def hypotenuse(self):
    return math.sqrt(self.a**2+self.b**2)
p = pythagorean()
p.set_values(5,5)
print("hypotenuse",p.hypotenuse())

hypotenuse 7.0710678118654755

## basic constructor usage __init__
#### automatically runs a method , where a new object is created
#### DISPLAY ----> data

In [ ]:
class student:
  def __init__(self, name,num):
    self.name= name
    self.num= num
  def display(self):
    print(f"Name :{self.name},Roll num :{self.num}")
s1=student("eshu",26)
s2=student("sai",59)
s1.display()
s2.display()

Name :eshu,Roll num :26
Name :sai,Roll num :59

### code for class method to call a function , which is defined in global namespace

In [ ]:
def globe (x):
  return x*10
class abc():
  def __init__(self, var):
    self.var=var
  def display(self):
    print("variable:",self.var)
  def modify(self):
    self.var=globe(self.var)
obj = abc(26)
obj.display()
obj.modify()
obj.display()

variable: 26
variable: 260

### program that uses class as student to store the name and marks of the student, use a list to store the marks of 3 subjects
### Constraints:
#### 1. Take class as student
#### 2. create a constructor for the student name
#### 3. Create afunction for marks, to be entered manually with in that class function and add the marks to the list
#### 4.Display then student name and the marks he/she got
#### 5. pass the ojects attributes of two students names
#### tc:
#### obj1:"Eshu"
#### obj2: "rani"
### Output : Eshu got[88,88,90] , rani got[77,78,90]

In [ ]:
from typing_extensions import NamedTuple
class student:
  def __init__(self,name,marks):
    self.name=name
    self.marks=marks
  def display(self):
    print(f"{self.name} got {self.marks}")
s1=student("eshu",[88,88,90])
s2=student("rani",[77,78,90])
s1.display()
s2.display()

# OR

class student:
  def __init__(self,name):
    self.name=name
    self.marks=[]
  def entermarks(self):
    for i in range(3):
      m=int(input("enter marks of %s in student %d :" %(self.name, i+1)))
      self.marks.append(m)
  def display(self):
    print(self.name, "got" , self.marks)
s1=student("eshu")
s1.entermarks()
s2=student("rani")
s2.entermarks()
s1.display()
s2.display()

eshu got [88, 88, 90]
rani got [77, 78, 90]
enter marks of eshu in student 1 :80
enter marks of eshu in student 2 :90
enter marks of eshu in student 3 :90
enter marks of rani in student 1 :89
enter marks of rani in student 2 :89
enter marks of rani in student 3 :90
eshu got [80, 90, 90]
rani got [89, 89, 90]

### Delete method __del__()

In [ ]:
class abc():
  classvar = 0
  def __init__(self,var):
    abc.classvar +=1
    self.var=var
    print("the object value:", var)
    print("the class var value:", abc.classvar)
obj1 = abc(10)
obj1 = abc(20)
obj1 = abc(30)

the object value: 10
the class var value: 1
the object value: 20
the class var value: 2
the object value: 30
the class var value: 3

In [ ]:
class abc():
  classvar = 0
  def __init__(self,var):
    abc.classvar +=1
    self.var=var
    print("the object value:", var)
    print("the class var value:", abc.classvar)
  def __del__(self):
    abc.classvar -=1
    print("object with value %d is going outof scope " %self.var)
obj1 = abc(10)
obj2 = abc(20)
obj3 = abc(30)
del obj1
del obj2

the object value: 10
the class var value: 1
the object value: 20
the class var value: 2
the object value: 30
the class var value: 3
object with value 10 is going outof scope
object with value 20 is going outof scope

### Special Methods
##### __ rper__()
##### __ cmp__()
##### __ call__()
##### __ hash__()
### operational
##### __ gt__()
##### __ ge__()
##### __ lt__()
##### __ le__()
##### __ eq__()
##### __ ne__()
##### __ iter__()
##### __ getitem__()
##### __ setitem__()

In [ ]:
class num:
  def __init__(self,mylist):
    self.mylist = mylist
  def __getitem__(self,index):
    return self.mylist[index]
  def __setitem__(self,index,val):
    self.mylist[index]=val
numlist = num([1,2,3,4,5,6,7,8,9])
print("Before Modify")
print(numlist.mylist)
numlist[2]=10
print("After Modify")
print(numlist.mylist)

Before Modify
[1, 2, 3, 4, 5, 6, 7, 8, 9]
After Modify
[1, 2, 10, 4, 5, 6, 7, 8, 9]

### Public variable and private variables

In [ ]:
class abc():
  def __init__(self,var1,var2):
    self.var1 = var1  #public var
    self.__var2 = var2 #private var
  def display(self):
    print("Public From Class Method ",self.var1 )
    print("Private From Class Method ", self.__var2)
obj = abc(10,100)
obj.display()
print("Public From main module : ", obj.var1)
print("private from main moduke : ",obj._abc__var2)
print("private from main moduke : ",obj.var2) # cannot be called by a global instance

Public From Class Method  10
Private From Class Method  100
Public From main module :  10
private from main moduke :  100

AttributeError: 'abc' object has no attribute 'var2'

#### Built-in class attributes
##### (1)  . __ dict __ :
##### (2) . __ doc __ :
##### (3) .  __ name __ :
##### (4) . __ module __ :
##### (5) . __ bases __ :

In [ ]:
class abc():
  def __init__(self,v1,v2):
    self.v1=v1
    self.v2=v2
  def display(self):
    print("var1 :", self.v1)
    print("var2 :", self.v2)
obj = abc(11,1.234)
print("object .__dict__ = ", obj.__dict__)
print("object .__doc__ = ", obj.__doc__)
print("Class .__name__ =" , abc.__name__)
print("object .__module = ", obj.__module__)
print("Class .__bases =" , abc.__bases__)

object .__dict__ =  {'v1': 11, 'v2': 1.234}
object .__doc__ =  None
Class .__name__ = abc
object .__module =  __main__
Class .__bases = (<class 'object'>,)

## Inheritance

#### 1.Simple
#### 2.Multiple
#### 3.Multi-level
#### 4.Hybrid
#### 5.Heritance
#### 6.Multipath (or) Diamond approach
#### 7.Meta
#### 8. Down Top

#### Inheritance multiple
##### code to demo the call from suoer class through constructor of base class

In [ ]:
class base1(object):
  def __init__(self):
    print(" BASE CLASS 1")
    super(base1, self).__init__()
class base2(object):
   def __init__(self):
    print(" BASE CLASS 2")
    super(base2, self).__init__()
class derived(base1,base2):
  def __init__(self):
     super(derived, self).__init__()
     print(" DERIVED CLASS")
D = derived()

 BASE CLASS 1
 BASE CLASS 2
 DERIVED CLASS

### Multiple inheritance using in Calc

In [ ]:
class addition:
  def add(self,a,b):
    return a+b
class subtract:
  def sub(self,a,b):
    return a-b
class calc(addition,subtract):
  def mul(self,a,b):
    return a*b
c = calc()
num1 = int(input("enter the value of a: "))
num2 = int(input("entet the value of b: "))
print("Addition:",c.add(num1,num2))
print("Subtract:",c.sub(num1,num2))
print("Multiplication:",c.mul(num1,num2))

enter the value of a: 5
entet the value of b: 5
Addition: 10
Subtract: 0
Multiplication: 25

## multi-level inheritance

In [ ]:
class pet:
  def sound(self):
    print("Animal sound")
class dog(pet):
  def bark(self):
    print("Dog barks")
class puppy(dog):
  def weep(self):
    print("Puppy weeps")
puppy = puppy()
puppy.sound()
puppy.bark()
puppy.weep()

Animal sound
Dog barks
Puppy weeps

## code for math opeartions using base class, with 1st and 2nd derived class respectively
### create an object where derived will be executed and perform multi operations

In [ ]:
class numbers:
  def __init__(self,a,b):
    self.a =a
    self.b= b
class basicops(numbers):
  def add(self):
    return self.a+self.b
  def sub(self):
    return self.a-self.b
class advops(basicops):
  def mul(self):
    return self.a*self.b
  def div(self):
    return self.a/self.b
x = int(input("enter the value of x:"))
y = int(input("enter the value of y:"))
calc = advops(x,y)
print("Addition:",calc.add())
print("Subtraction:",calc.sub())
print("Multiplication:",calc.mul())
print("Division:",calc.div())

enter the value of x:5
enter the value of y:6
Addition: 11
Subtraction: -1
Multiplication: 30
Division: 0.8333333333333334

## code for student grading system, where the student base class has to be derived by marks and marks with grades in a multi-level inheritance .
### calculate the grade to be allocated to be student with marks A,B,C,D  with >= 90, >= 75, >=60 or less than 60 respectively.
#### student : Henry
#### marks : [85,90,78,92]
#### calculate and display marks, avg, grade of Henry

In [ ]:

class student:
  def __init__(self,name):
    self.name= name
class marks(student):
   def __init__(self,name,marks):
    super().__init__(name)
    self.marks = marks
   def total_marks(self):
    return sum(self.marks)
class grade(marks):
  def avg(self):
    return self.total_marks()/len(self.marks)
  def cal_grade(self):
    avg = self.avg()
    if avg >=90:
      return "A"
    elif avg>=75:
      return "B"
    elif avg >=60:
      return "C"
    else:
      return "D"

name = input("enter the student name:")
subjects = int(input("enter the number of students"))
marks = []
for i in range(subjects):
  mark = float(input("enter the marks"))
  # The following line is changed to append the mark instead of the list itself
  marks.append(mark) #This was previously marks.append(marks)
student = grade(name,marks)
#student = grade("Henry",[85,90,78,92])
print("Student name:",student.name)
print("Total_marks:",student.total_marks())
print("Average:",student.avg())
print("cal_grade:",student.cal_grade())

enter the student name:eshu
enter the number of students3
enter the marks97
enter the marks78
enter the marks89
Student name: eshu
Total_marks: 264.0
Average: 88.0
cal_grade: B

## hierarchical inheritance

In [ ]:
class pet:
  def __init__(self, name):
    self.name = name
  def sound(self):
    print(f"{self.name} makes a sound")
class dog(pet):
  def sound(self):
    print(f"{self.name} barks")
class cat(pet):
  def sound(self):
    print(f"{self.name} meows")
d = dog("Milo")
c = cat("Kitty")
d.sound()
c.sound()

Milo barks
Kitty meows

## Hierarchical geometry operations of different shapes area values of all circle, rectangle, triangle derived classes

In [ ]:
import math
class shape:
  def __init__(self, d1 , d2 =0):
    self.d1 = d1
    self.d2 = d2
class rectangle(shape):
  def area(self):
    return self.d1*self.d2
class circle(shape):
  def area(self):
    return math.pi*self.d1**2
class triangle(shape):
  def area(self):
    return 0.5 * self.d1 * self.d2
rect = rectangle(10,5)
cir = circle(7)
tri = triangle(4,6)
print("Area of rectangle:",rect.area())
print("Area circle :",cir.area())
print("Area of triangle:",tri.area())

Area of rectangle: 50
Area circle : 153.93804002589985
Area of triangle: 12.0

## Abstraction of base class for evaluating the area of square, rectangle, triangle

In [ ]:
from abc import ABC, abstractmethod
from math import pi
class shape(ABC):
  def __init__(self,name):
    self.name = name
  @abstractmethod
  def area(self):
    pass
class rectangle(shape):
  def __init__(self,l,b):
    super().__init__("rectangle")
    self.l = l
    self.b = b
  def area (self):
    return self.l * self.b
class circle(shape):
  def __init__(self,r):
    super().__init__("circle")
    self.r = r
  def area(self):
    return pi * self.r*self.r
class triangle(shape):
  def __init__(self,b,h):
    super().__init__("triangle")
    self.b = b
    self.h = h
  def area(self):
    return 0,5 * self.b *self.h
r = rectangle(10,15)
c = circle(9)
t = triangle(6,9)
print("area of rectangle:",r.area())
print("area of circle:",c.area())
print("area of triangle",t.area())

area of rectangle: 150
area of circle: 254.46900494077323
area of triangle (0, 270)

## Encapsulation
####  Basic Encapsulation with attributes , private attributes
#### 1. __var , __x , __a
#### self.__a to access the private variable
#### get means the empty
#### set means the assign the values

In [ ]:
class car:
  def __init__(self,brand,speed):
    self.brand = brand
    self.__speed = speed

  # Define get_speed as a regular method of the class
  def get_speed(self):
    return self.__speed

  # Define set_speed as a regular method of the class
  def set_speed(self,speed):
    if speed>=0:
      self.__speed = speed
    else :
      print("Car is not moving")

c = car("BMW",160)
print(c.brand)
print(c.get_speed())
c.set_speed(200)
print(c.get_speed())
c.set_speed(0)

BMW
160
200

### Protected attributes

In [ ]:
class student:
  def __init__(self, name, age):
    self._name = name
    self._age = age
  def display(self):
    print(f"Name : {self._name}, Age : {self._age}")
s = student("Eshika",20)
s.display()
print(s._name)

Name : Eshika, Age : 20
Eshika

## private methods

In [ ]:
class emp:
  def __init__(self, name ,sal):
    self.name = name
    self.__sal = sal
  def __bonus(self):
    return self .__sal*0.4
  def pack(self):
    return self.__sal + self.__bonus()
e = emp("Eshika", 210000)
print(e.pack())

294000.0

### calculate the average of 4 subjects of a student by taking protected attributes , pass name and four subjects marks to class student . find gpa and assign the avg to gpa
### name = " XXXXXX "
### marks = [99,79,84,95]
### output = average of grades = 90.0
### output = name xxxxxx . gpa = 90.00

In [ ]:
class student:
  def __init__(self,name, marks):
    self.name = name
    self._marks = marks
  def avg(self):
    return sum(self._marks)/len(self._marks)
s = student("eshu",[99,79,84,95])
print(f" avg of grade = {s.avg()}")
# Call the avg() method on the s object to get the average value
print(f" Name: {s.name}, GPA :{s.avg():.2f}")

 avg of grade = 89.25
 Name: eshu, GPA :89.25

# Errors and Exceptions

## bulit-in Exception
### 1. Exception   
###### A general signal that something went wrong while your code was running.
### 2. StandardError (its not supported that system error and iteration error)
###### An older, general signal for errors. In newer Python, Exception is used instead.
### 3. SystemError - sys.exit( )
###### A very rare error indicating a problem within the Python program itself, not usually your code.
### 4. OverflowError
###### Occurs when a number from a calculation is too big to be stored properly.
### 5. ArthimeticError
###### A general term for problems that happen during math calculations (like dividing by zero or having a number that's too big).
### 6. IndexError
###### Happens when you try to get an item from a list or similar sequence using a position that doesn't exist.
### 7. KeyError
###### Happens when you try to get an item from a list or similar sequence using a position that doesn't exist.
### 8. KeyboardInterrupt
###### Occurs when you, the user, stop the running program (usually by pressing Ctrl+C).
### 9. StopIterationError
###### A signal used by things that go through items one by one to indicate that they have reached the end and there are no more items.
### 10. EnvironmentalError
###### A problem related to the computer's system, like with files.
### 11. IOError
###### A problem when reading from or writing to things like files.
### 12. NotImplementedError
###### Means that a function or method hasn't been written yet.

In [ ]:
'''
try:
  stmt 1
  stmt 2
expect exceptioname:
  stmt
  '''

## Handle zero exception

In [ ]:
num1 = int(input("enter the numerator:"))
num2 = int(input("enter the denominator:"))
try:
  quo = num1/num2
  print("Quotient:",quo)
except ZeroDivisionError:
  print("Denominator cannot be zero")

enter the numerator:31
enter the denominator:0
Denominator cannot be zero

## Multiple exception blocks

In [ ]:
try:
  num = int(input("enter a number:"))
  print(num**3)
except (KeyboardInterrupt):
  print("enter only numeric... programming end !!!")
except (ValueError):
  print("please enter a number")

print("Exit from exception block")

enter a number:31
29791
Exit from exception block

In [ ]:
try:
  num = int(input("enter a number:"))
  print(num-31)
except ( ValueError, TypeError):
  print("Accessing from the blocks above")
print("End...")

enter a number:mani
Accessing from the blocks above
End...